body {
  width: 100vw;
  max-width: 1920px;
}
html {
  background-color: blue;
  display: table;
  margin: auto;
  overflow-y: scroll;
}

body {
  background-color: white;
  width: 100vw;
  /*max-width: 1920px;*/
  display: table-cell;
  vertical-align: middle;
}
