<!--<img src="./assets/images/Layer1.png" alt="">-->
<!--<img src="./assets/images/Layer2.png" alt="">-->

<div class="parent">
  <img class="image1" src="./assets/images/Layer1.png" alt="" id="layer1">
  <img class="image3" src="./assets/images/Layer3.png" alt="" id="layer3">
  <img class="image4" src="./assets/images/Layer4.png" alt="" id="layer4">
  <img class="image2" src="./assets/images/Layer2.png" alt="" id="layer2">
</div>


<!--<script>-->
<!--  let layer1 = document.getElementById('layer1');-->
<!--  let layer2 = document.getElementById('layer2');-->
<!--  let layer3 = document.getElementById('layer3');-->
<!--  let layer4 = document.getElementById('layer4');-->
<!--  let backgr = document.getElementById('backgr');-->

<!--  window.addEventListener('scroll', function (){-->
<!--    let value = window.scrollY;-->

<!--    layer1.style.top = value * -1.5 + 'px';-->
<!--    layer1.style.top = value * 2 + 'px';-->

<!--    layer2.style.top = value * -1.5 + 'px';-->
<!--    layer2.style.top = value * -5 + 'px';-->

<!--    layer3.style.top = value * 2 + 'px';-->
<!--    layer4.style.top = value * -1.5 + 'px';-->
<!--    backgr.style.top = value * -5 + 'px';-->

<!--  })-->
<!--</script>-->
